# Don't include source files
src/
examples/
tests/

# Don't include development files
tsconfig.json
.gitignore
.npmignore
.eslintrc
.prettierrc

# Don't include environment files
.env
.env.local

# Don't include CI files
.github/
.gitlab-ci.yml
.travis.yml